.markdown-body {
  min-width: 200px;
  max-width: 900px;
  margin: 0 auto;
  padding-top: 30px;
}

#save {
  margin-bottom: 0px;
}

#simulation {
  width: 100%;
  margin-top: 20px;
  font-size: 80%;
}

#stats {
  background-color: #AAA;
  padding: 12px;

}

#status {
  width: 100%;
  padding: 12px;
  color: #FFF;
  text-align: center;
  font-size: 16pt;
  /*font-style: italic;*/
  font-weight: bold;
  background-color: #333;
}

.tribe {
  width: 50%; /*should be 33.33% but doing more exact math now*/
  float: left;
  height: 320px;
  background-color: #CCC;
  padding: 0 12 0 12;
  margin-bottom: 10px;
}

#tribe2 {
  float: right;
  background-color: #BBB;
}

#overall {
  width: 100%;
  height: 320px;
  background-color: #EEE;
  margin-bottom:20px;
}

#statsTable {
  font-size: 75%;
}




.castslider {
  width: 90px;
}


#players {

}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.player {
  width: 32%;
  float: left;
  font-size: 72%;
  padding: 0px 16px 16px 16px;
  margin-bottom:4px;
  margin-right:4px;
  position: relative;
  border-style: solid;
  border-width: 1px;
  border-color: #888;
  line-height: 200%;
}

#speedslider {
  width: 200px;
  margin: 12px 12px 0 12px;
  display: inline;
}

#speed {
  width: 100px;
  display: inline;
}

#buttons {
  display: inline;
}



.run {
  padding: 12px;
  font-weight: bold;
}

.slidernumber {
  display: inline;
  padding-left: 5px;
}

#women table, #men table {
  font-size: 94%;
}

.bigbutton {
  padding: 16px;
  width: 45%;
  font-size: 24px;
/*  margin-left: 25%;
*/}

#simulationDiv {
  display: none;
  margin-top: -12px;
  height: 1040px;
}

#share, #hidden {
  /*float: right;*/
  position: relative;
  margin-bottom: 12px;
  padding: 6 12 6 12;
  font-size: 80%;
  background-color: #EEE;
  margin-left: 50%;
  display: none;
  width: 45%;
}

#twitterbutton {
  position: absolute;
  top: 6px;
  right: 6px;
}

